* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}
.outer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.outer h2 {
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 26px;
  letter-spacing: 1px;
  font-family: fantasy, sans-serif;
}
.inner {
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
}
.input-wrapper {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.input-wrapper input {
  padding: 10px 5px;
  border: 0;
  outline: 0;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 5px 0 0 5px;
  width: 260px;
}
.input-wrapper button {
  background-color: gold;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  color: #333;
  border: 0;
  outline: 0;
}
.list-wrapper {
  padding: 20px 0;
}
.listItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  font-family: sans-serif;
  overflow: hidden;
}
.listItem p {
  margin-left: 20px;
  font-weight: bold;
  text-transform: capitalize;
  width: 100%;
  padding: 15px 8px;
  font-size: 16px;
}
.listItem button {
  background-color: rgb(235, 108, 108);
  padding: 0px 15px !important;
  color: #f2f2f2;
  font-weight: bold;
  border: 0;
  outline: 0;
}
.itemStatus {
  margin-left: 8px;
  accent-color: rgb(105, 233, 105);
  width: 25px;
  cursor: pointer;
}
.checked {
  text-decoration: line-through;
}
